<% provide(:title, 'About Us') %>
<% meta :description => "Overview of the FOSS Nepal",
        :keywords => "About FOSS, FOSS Nepal" %>
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>About Us</h1>
    <p class="lead">Overview of the FOSS Nepal Community</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav">
        <li>
        	<%= link_to '#history' do %>
         		<i class="icon-chevron-right"></i> History
         	<% end %>
        </li>
        <li>
          <%= link_to '#prominent-persons' do %>
            <i class="icon-chevron-right"></i> Prominent Persons
          <% end %>
        </li>
        <li>
          <%= link_to '#communities' do %>
            <i class="icon-chevron-right"></i> Communities
          <% end %>
        </li>
      </ul>
    </div>
    <div class="span9">
      <section id="history">
        <div class="page-header">
          <h1>History</h1>
        </div>
        <h3> Start of Linux and Open Source in Nepal </h3>
        <p class="lead">
        Chronologically speaking, Linux came in Nepal in 1994 and with it came the Free Software Revolution. With growing Internet came the Internet Service Providers and they used Linux. And in 2000 <%= link_to "Kundan Khanal", "https://www.facebook.com/pages/Kundan-Khanal/51763262843", :target => "_blank" %> with his friends, he started <%= link_to "Linux Nepal", "http://www.linuxnepal.com", :target => "_blank" %> for the sake of bringing Linux awareness in Nepal. Later the <%= link_to "Mailing List", "http://tech.groups.yahoo.com/group/linux-nepal", :target => "_blank" %> for Linux was started for the technical Linux solutions. This group at that time consisted of approximately 100 Linux users and was expanding day by day. And this created a community culture for FOSS in Nepal. And in 2004, <%= link_to "PAN Localization", "http://www.panl10n.net", :target => "_blank" %> was launched and first test release of <%= link_to "Nepalinux", "http://www.nepalinux.org", :target => "_blank" %> was launched in 2005 followed by it first release on December of 2005.</p>
        <h3> Formation of FOSS Nepal Community </h3>
        <p class="lead">With a stable localised distro in hand, the developers of Nepalinux with other FOSS enthusiast started a community named the <%= link_to "FOSS Nepal Community", "http://fossnepal.heroku.com", :target => "_blank" %>. And with mega events such as Celebration of Software Freedom Day, the small group turned into a great Free Software Community in Nepal. And into one of most active advocates of free software in the world. Awarded with three pretigious award for best team in Software Freedom Day FOSS Nepal still grows with Free Software. </p>
        <table class="table table-striped">
          <caption>FOSS Nepal Community History in chronological orders</caption>
          <thead>
            <tr>
              <th>Date</th>
              <th>Event</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1994</td>
              <td>Linux came to Nepal</td>
              <td></td>
            </tr>
            <tr>
              <td>1995</td>
              <td>ISPs used Linux</td>
              <td></td>
            </tr>
            <tr>
              <td>May, 2000</td>
              <td>Linux Nepal website launched</td>
              <td>www.linuxnepal.com.np</td>
            </tr>
            <tr>
              <td>2002</td>
              <td>Ganesha project lauched</td>
              <td></td>
            </tr>
            <tr>
              <td>January, 2004</td>
              <td>PAN localization project launched</td>
              <td></td>
            </tr>
            <tr>
              <td>October, 2004</td>
              <td>First test release of Nepalinux</td>
              <td></td>
            </tr>
            <tr>
              <td>March 29, 2005</td>
              <td>Open Content for Development - A one day program organized by Bellanet Asia and SAP Nepal</td>
              <td></td>
            </tr>
            <tr>
              <td>July, 2005</td>
              <td>FOSS Nepal Community establsihed</td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </section>

      <section id="prominent-persons">
        <div class="page-header">
          <h1>Prominent Persons</h1>
        </div>
        <p class="lead">Who are the persons behind the FOSS Nepal community? Members pictures(140 X 140) and their social network links??</p>
      </section>

      <section id="communities">
        <div class="page-header">
          <h1>Communities</h1>
        </div>
        <p class="lead">What do you mean by FOSS communities? How can one be involved?</p>
        <table class="table table-striped">
          <caption>List of FOSS communities in Nepal</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Website</th>
              <th>Contact email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>FOSS Nepal </td>
              <td><%= link_to "www.fossnepal.org", "https://fossnepal.heroku.com", :target=>"_blank"%></td>
              <td><%= link_to "info@fossnepal.org", "mailto:info@fossnepal.org"%></td>
            </tr>
            <tr>
              <td>IOE FOSS Community</td>
              <td>...</td>
              <td>...</td>
            </tr>
            <tr>
              <td>KATH-FOSS Community </td>
              <td>...</td>
              <td>...</td>
            </tr>
            <tr>
              <td>Mozilla Nepal</td>
              <td>...</td>
              <td>...</td>
            </tr>
            <tr>
              <td>Nepali Wikipedia</td>
              <td><%= link_to "ne.wikipedia.org", "http://ne.wikipedia.org", :target=>"_blank"%></td>
              <td>...</td>
            </tr>
            <tr>
              <td>NOSK (Nepal Open Source Klub, NCIT)</td>
              <td>...</td>
              <td>...</td>
            </tr>
            <tr>
              <td>OSAC (Open Source Ascol Circle)</td>
              <td>...</td>
              <td>...</td>
            </tr>
            <tr>
              <td>OSM Nepal (Open Street Map Nepal)</td>
              <td>...</td>
              <td>...</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>