<% provide(:title, 'New Meeting') %>
<% meta :description => "Create new Meeting",
        :keywords => "Create Meeting, FOSS Nepal" %>
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Create meeting</h1>
    <p class="lead">Create a new meeting.</p>
  </div>
</header>
<h1 class="text-center">Create Meeting</h1>
<div class="container">
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@meeting) do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :info %>
      <%= f.text_field :info %>

      <%= f.label :meeting_date %>
      <%= f.date_select(:meeting_date, {start_year: Time.now.year, order: [:month, :day, :year], use_short_month: true, end_year: 1900, prompt: {month: 'Month', day: 'Day', year: 'Year'}}, {:class=>"span2"})%>

      <%= f.label :venue %>
      <%= f.text_field :venue %>

      <%= f.submit "Create meeting", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</div>