<tr>
	<td><%= @sno %></td>
  <td><%= eventlist.name %></td>
  <td><%= eventlist.info %></td>
  <% if current_user and current_user.mod? %>
  	<td><%= link_to "Edit", edit_event_eventlist_path(@event, eventlist), :class=>"btn btn-small btn-inverse" %></td>
  	<td><%= link_to "Delete", event_eventlist_path(@event, eventlist), method: :delete, data: { confirm: "You sure?" }, title: eventlist.name, :class=>"btn btn-small btn-inverse" %></td>
  <% end %>
</tr>
<% @sno=@sno+1 %>