<% provide(:title, 'Edit Event list') %>
<% meta :description => "Edit Event List",
        :keywords => "Update Event List, FOSS Nepal" %>
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Edit Event List</h1>
    <p class="lead">Change event list information.</p>
  </div>
</header>
<h1 class="text-center">Edit Event list</h1>
<div class="container">
<div class="row">
  <div class="span6 offset3">
    <%= form_for [@current_event, @list] do |f| %>
    		<%= render 'shared/listerror_messages'%>

        <%= f.label :name %>
        <%= f.text_field :name %><br>

        <%= f.label :info %>
        <%= f.text_field :info %>

        <%= f.submit "Update", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</div>