<% provide(:title, 'Edit Event Location') %>
<% meta :description => "Edit Event Location",
        :keywords => "Edit Event Location, FOSS Nepal" %>
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Edit location</h1>
    <p class="lead">Change the event location.</p>
  </div>
</header>
<h1 class="text-center">Update Event Location</h1>
<div class="container">
<div class="row">
  <div class="span6 offset3">
    <%= form_for [@current_event, @location], :url => event_elocation_path(@current_event) do |f| %>
    	<%= render 'shared/locationerror_messages'%>

      <%= f.label :longitude %>
      <%= f.text_field :longitude, :id=>"centre_longitude" %>

      <%= f.label :latitude %>
      <%= f.text_field :latitude, :id=>"centre_latitude" %>

      <%= f.label :zoom %>
      <%= f.text_field :gmaps_zoom, :id=>"centre_gmaps_zoom" %>

      <%= gmaps("markers" => {"data" => @json}, "map_options" => {"auto_adjust" => true, "auto_zoom" => false, "zoom" => @elocation.gmaps_zoom}) %>
      <%= render 'shared/gmap' %>

      <%= f.submit "Update location", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</div>