<% provide(:title, 'Edit Meeting Outcome') %>
<% meta :description => "Edit Meeting Outcome",
        :keywords => "Edit Meeting Outcome, FOSS Nepal" %>
<h1>Edit Meeting Outcome</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for [@current_meeting, @outcome], :url => meeting_outcome_path(@current_meeting) do |f| %>
    	<%= render 'shared/outcomeerror_messages' %>

      <%= f.label :result %>
      <%= f.text_area :result, cols: 60, rows: 15 %>

      <%= f.submit "Update outcome", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>