<% provide(:title, 'New Meeting Outcome') %>
<% meta :description => "Create new Meeting Outcome",
        :keywords => "Create Meeting Outcome, FOSS Nepal" %>
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Create Result</h1>
    <p class="lead">Add the outcomes of the meeting.</p>
  </div>
</header>
<h1 class="text-center">Add Meeting Outcome</h1>
<div class="container">
<div class="row">
  <div class="span6 offset3">
    <%= form_for [@current_meeting, @current_meeting.build_outcome], :url => meeting_outcome_path(@current_meeting) do |f| %>
    	<%= render 'shared/outcomeerror_messages' %>

      <%= f.label :result %>
      <%= f.text_area :result, cols: 60, rows: 15, placeholder: "Add the html tags to format texts.", required: "" %>

      <%= f.submit "Create outcome", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</div>