<% provide(:title, 'Edit Meeting Location') %>
<% meta :description => "Edit Meeting Location",
        :keywords => "Edit Meeting Location, FOSS Nepal" %>
<h1>Edit Meeting Location</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for [@current_meeting, @location], :url => meeting_location_path(@current_meeting) do |f| %>
    	<%= render 'shared/locationerror_messages'%>

      <%= f.label :longitude %>
      <%= f.text_field :longitude, :id=>"centre_longitude" %>

      <%= f.label :latitude %>
      <%= f.text_field :latitude, :id=>"centre_latitude" %>

      <%= f.label :zoom %>
      <%= f.text_field :gmaps_zoom, :id=>"centre_gmaps_zoom" %>

      <%= gmaps4rails(@json) %>
      <%= render 'locations/gmap' %>

      <%= f.submit "Update location", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>